.fa-caret-down {    
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 7px !important;
    height: 7px !important;
    transform: rotate(-45deg);
    margin-top: 2px;
    margin-right: 5px !important;
}

.fa-caret-right {
    height: 1rem;
    width: 8rem;
    border: 1px solid blue;
}

.form-inline label {
    color: #0069D9 !important;
}