<ngx-treeview *ngIf="items"
    [config]="config"
    [items]="items"
    [itemTemplate]="itemTemplate">
</ngx-treeview>
<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-inline row-item">
    <i *ngIf="item.children"  aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
      [class.fa-caret-down]="!item.collapsed"></i>
    <label class="form-check-label" (click)="select(item)" >{{ item.text }}</label>
  </div>
</ng-template>