.fa-caret-down {    
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 7px !important;
    height: 7px !important;
    transform: rotate(-45deg);
    margin-right: 0.5rem !important;
}

.fa-caret-right {
    height: 1rem;
    width: 8rem;
    border: 1px solid blue;
}

.form-inline {
    label {
        color: #0069D9 !important;
    }
    i {
        margin-left: -1rem;
    }
}